{% extends "base.html" %}
{% load i18n %}

{% block content %}
<form method="post" action=".">
  {% csrf_token %} 
  <div class="contents-wrapper">
            <!-- Contents starts here -->
    <div class="content">

      <div class="panel panel-default">
        <div class="panel-heading"> <h3 class="panel-title" style="text-align:center"> <b> change password</b> </h3>
        </div>
		<form method="post" >
        <div class="panel-body">
			Old password &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			:&nbsp;<input type="password" name="old_password" id="old_password">{{ old_password }}<br><br>
            {% if form.old_password.errors %}
                {% for error in form.old_password.errors %}
                  <p><a href="" class="error">{{ error|escape }}</a></p>
                {% endfor %}
              </ul>
            {% endif %}

			New password &nbsp; &nbsp; &nbsp;  &nbsp;
			:&nbsp;<input type="password" name="new_password1" id="new_password1">{{ new_password1 }}<br><br>
            {% if form.new_password1.errors %}
                {% for error in form.new_password1.errors %}
                  <p><a href="" class="error">{{ error|escape }}</a></p>
                {% endfor %}
              </ul>
            {% endif %}

			confirm password &nbsp;
			:&nbsp;<input type="password" name="new_password2" id="new_password2">{{ new_password2 }}<br><br><br>
            {% if form.new_password2.errors %}
                {% for error in form.new_password2.errors %}
                  <p><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></p>
                {% endfor %}
              </ul>
            {% endif %}

            <input type="hidden" name="next" value="{% url 'auth_password_change_done' %}"/>
			<button  style="margin-left:40% " type="submit" name="button">submit</button>

        </div>
		</form>
      </div>


    </div>
        </div>

		<style>
		.content{
			margin-bottom:10%
		}
		</style>
</form>
{% endblock %}
