{% extends "base.html" %}
{% load i18n %}

{% block content %}
<form method="post" action=".">
  {% csrf_token %} 
  <div class="contents-wrapper">
            <!-- Contents starts here -->
    <div class="content">

      <div class="panel panel-default">
        <div class="panel-heading"> <h3 class="panel-title" style="text-align:center"> <b> Reset Password</b> </h3>
        </div>
		<form method="post" >
        <div class="panel-body" align="center">
			Email &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			:&nbsp;<input type="email" name="email" id="email"><br><br>
			<button   type="submit" name="button">submit</button>

        </div>
		</form>
      </div>


    </div>
        </div>

		<style>
		.content{
			margin-bottom:10%
		}
		</style>

</form>
{% endblock %}
