{% extends 'student_view.html' %}

{% block extend %}
<style type="text/css">

.wrap {
  height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
#divContent
{
    min-height: 100%;
    height: auto !important; /*Cause footer to stick to bottom in IE 6*/
    height: 100%;
    margin: 0 auto -100px; /*Allow for footer height*/
    vertical-align:bottom;
}
main1 {
  -webkit-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
@media (max-width: 800px) {
  main1 {
    -webkit-box-orient: vertical;
    -o-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
aside,
article {
  overflow-y: scroll;
  padding: 2em;
}
aside {
  -webkit-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background:#F0eeee;
}
article {
  -webkit-box-flex: 2;
  -o-box-flex: 2;
  box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  background: #F0eeee;
}
h1 {
  margin-top: 0;
}
.flex-container1{
    min-height: 100%;
    height: auto !important; /*Cause footer to stick to bottom in IE 6*/
    margin: 0 auto -100px; /*Allow for footer height*/
    vertical-align:bottom;

	width: 100%;
	margin: 0 auto;
	display: -webkit-flex; /* Safari */
	display: flex; /* Standard syntax */
}
.flex-container1 .column{
	padding: 10px;
	background: #000000;
	-webkit-flex: 1; /* Safari */
	-ms-flex: 1; /* IE 10 */
	flex: 1; /* Standard syntax #b4bac0;*/
}
.flex-container1 .column.bg-alt{
	background: #000000;
}
.wraper {
  position: absolute;
  top: 40%;
  left: 48%;
  margin: 0 auto -100px; /*Allow for footer height*/
  height: auto !important; /*Cause footer to stick to bottom in IE 6*/
  margin-left: -25% ;
  text-align: center;
}
.button {
  display: inline-block;
  line-height: 3em;
  padding: 0 1em;
  background: #34343E;
  border-radius: 0.125em;
  background-clip: padding-box;

  margin-right: 1em
}

a.button{
  -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  display: block;
  margin: 20px auto;
  max-width: 200px auto;
  height: 50px ;
  text-decoration: none;
  border-radius: 4px;
  padding: auto;
}

.button--ghost {
	border: 1px solid #EEE !important;
	background: none
}

.button--ghost--green {
	border-color: #7CBDBA !important
}

a.button {
  color: rgba(30, 22, 54, 0.6);
  box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

a.button:hover {
  color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}
.btn-login {
	background-color: #006E6D;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #006E6D;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #696969;
	border-color: #696969;
}
</style>
<body>
    <div class="flex-container1">
        <div class="column">
		<div class="wrap">
		<article>
		<table>
  <tr>
    <th>Filename</th>
    <th>Description</th>
    <th>Download</th>

  </tr>
  <tr>
    <td>Peter</td>
    <td>Griffin</td>
	<td><div id="button-wrap">
        <div id="button-wrap-inner">
          <a class="btn" href="">Download</a>
        </div><!-- end button-wrap-inner -->
      </div></td>
  </tr>

</table>
</article>
</div>
</div>



    </div>
</body>
{% endblock %}