{% extends 'student_view.html' %}

{% block extend %}
    <script>
        var NewCount = 0
    </script>
    <h1>Select the courses which you want to study in {{ current_semester }} semester.</h1>
    <h3>Please select the choices carefully. You won't be able to change them later.</h3>
    <form action="" method="post">{% csrf_token %}
        <h><br/>Core Courses<br/></h>
        {% for course in courses_offered %}
                {% if not course.elective %}
                    <input type="checkbox" name="courses[]" value="{{ course.courseNo }}">{{ course.courseNo }}<br/>
                {% endif %}
        {% endfor %}
        <h><br/>Electives ({{ number_of_electives }} electives are in this semester.)<br/></h>
        {% for course in courses_offered %}
                {% if  course.elective %}
                    <input type="checkbox" name="courses[]" id="{{ course.courseNo }}" value="{{ course.courseNo }}" onclick="return checkCourseCount('{{ course.courseNo }}', {{ number_of_electives }})">{{ course.courseNo }} {{ course.course_name }}<br/>
                    <script type="text/javascript">
                    function checkCourseCount(courseNo, number_of_electives) {
                        var temp1 = document.getElementById(courseNo)
                        if(temp1) {
                            if (temp1.checked)
                            {NewCount = NewCount + 1}
                            else
                            {NewCount = NewCount - 1}
                            if (NewCount >= number_of_electives+1)
                            {
                                alert('You cannot select more electives.')
                                NewCount = NewCount - 1
                                document.elective; return false;
                            }
                        }
                    }
                    </script>
                {% endif %}
        {% endfor %}
        <h1><br/></h1>
        <button type="submit">Submit</button>
    </form>
{% endblock %}