<!DOCTYPE html>
<html>
<head>
    {% load static %}
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/IIITVE.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

</head>
<body>
	<div class="Main">
	 <h1 style="text-align: left; margin-left: 5%;"><img src="http://iiitvadodara.ac.in/img/IIITV_Logo_1x1_small.png" style="width: 100px">
	 Indian Institute of Information Technology, Vadodara
	</h1>
		{% block content %}
		{% endblock %}
</div>
</body>
</html>