<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/IIITVE.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	
</head>
<body>
	<div class="Main">
	 <h1 style="text-align: left; margin-left: 5%;"><img src="http://iiitvadodara.ac.in/img/IIITV_Logo_1x1_small.png" style="width: 100px">
	 Indian Institute of Information Technology, Vadodara
	</h1>
	<div class="container">

		<h1 style="border-bottom: 1px solid; dashed;width: 18%;margin-left: 40%;padding-bottom: 10px "> E-Campus</h1>
		<br>
	
	
		<h3>Welcome to the IIITV E-Campus-  a web-based learning system and electronic community center for students and faculty.</h3>
		
		<br>
		<br>

		<a class="btn btn-lg btn-primary" href="a.html" style="background-color: #E5BFBF; border: 1px solid; color: black;">Student</a>
		<a class="btn btn-lg btn-primary" href="loginFac.html" style="background-color: #E5BFBF; border: 1px solid; color: black;">Faculty</a>
		<br>
		<br>

		<h1 style="border-bottom: 1px solid; dashed;width: 18%;margin-left: 40%;padding-top: 8px;padding-bottom: 10px "> About Us</h1>
		<p>
			The E-campus is the WTO E-Learning hub and offers a variety of interactive courses on trade-related matters and multilateral trade agreements. The E-Learning curriculum is part of the WTO technical assistance programme for government officials from developing WTO Members and Observers. Eligible participants who successfully complete the course receive a WTO Certificate. Self-training material is also freely available in the course catalogue to non-eligible learners.


		</p>
		<h1 style="border-bottom: 1px solid; dashed;width: 18%;margin-left: 40%;padding-top: 8px;padding-bottom: 10px "> Contact Us</h1>
		<p>
			The <E-></E->campus is the WTO E-Learning hub and offers a variety of interactive courses on trade-related matters and multilateral trade agreements. The E-Learning curriculum is part of the WTO technical assistance programme for government officials from developing WTO Members and Observers. Eligible participants who successfully complete the course receive a WTO Certificate. Self-training material is also freely available in the course catalogue to non-eligible learners.


		</p>
	</div>

	

</div>
</body>
</html>