body{
	margin: 0 auto;
    background-image: url("/static/pictures/2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: Georgia;

}
.Main{
	text-align: left;
	margin-left: 5%;
}
.container{
	text-align: center;
	margin-top: 5%;
}
a
{
	background-color: 
}