{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
    <p><strong>Dear {{ user.username }} faculty, glad to have you here!</strong></p>
    <p>This is IIITV Ecampus</p>
    <p><a href="{% url 'course_material_upload' %}">Course Material Upload</a></p>
    <p><a href="{% url 'course_material_view' %}">View Course Material</a></p>
    <p><a href="{% url 'announcement_upload' %}">Upload Announcements</a></p>
    <p><a href="{% url 'announcement_view' %}">View Announcements</a></p>
{% endif %}
{% endblock %}
